table {
    width: 80%;
    border: 1px solid black;
    border-collapse: collapse;
}

.rankings {
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(106, 0, 255) 100%);
}

table:hover {
    box-shadow: none;
}

img {
    max-width: 3rem;
}

.heading {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 2rem;
    font-family: 'Harry P', sans-serif;
    font-size: 1.5rem;
    letter-spacing: .15rem;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding-top: 6rem;
    text-align: center;
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%),
        url('../../assets/hallway.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.house-totals {
    margin-bottom: 1rem;
}

caption {
    font-weight: 700;
    margin-bottom: .6rem;
    font-size: 1.2rem;
}

th,
td {
    border: 1px solid rgb(182, 182, 182);
    padding: .3rem;
    text-align: center;
    background-color: #121212a4;
    color: rgb(255, 255, 255);
}

th {
    letter-spacing: .05rem;
}

.gr {
    background: linear-gradient(to bottom, rgb(0, 0, 0) 40%, rgba(255, 0, 0, 0.556) 100%);
}

.sl {
    background: linear-gradient(to bottom, rgb(0, 0, 0) 40%, rgba(102, 255, 0, 0.409) 100%);
}

.hu {
    background: linear-gradient(to bottom, rgb(0, 0, 0) 40%, rgba(255, 225, 0, 0.405) 100%);
}

.ra {
    background: linear-gradient(to bottom, rgb(0, 0, 0) 30%, rgba(0, 68, 255, 0.563) 100%);
}

.gr,
.sl,
.hu,
.ra {
    font-family: 'harry p', 'sans-serif';
    color: white;
    font-size: 1.8rem;
    padding-top: .5rem;
    letter-spacing: .2rem;
}

.attribution {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: white;
    font-size: .5rem;
}