nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: rgb(28, 0, 75);
    color: white;
    flex-wrap: wrap;
}

.title {
    display: flex;
    align-items: center;
    font-family: 'Harry P', sans-serif;
    font-size: 1.5rem;
    letter-spacing: .15rem;
}

a {
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}

img {
    padding-left: .8rem;
    max-width: 3.5rem;
}