<div class="game-container" *ngIf="currentCharacter">

        <div class="stats">
                <p class="round">Round {{ round }} of {{ maxRounds }}</p>
                <p class="score">Score: {{ score }}</p>

        </div>

        <div class="profile">
                <p class="cardName">{{ currentCharacter.nickname}}</p>

                <img [src]="currentCharacter.image" alt="Character image" class="character-image" />

        </div>

        <p *ngIf="!feedback; else feedbackMessage">Which house does <span class="name">{{ currentCharacter.fullName
                        }}</span> belong to?</p>
        <ng-template #feedbackMessage>
                <p class="feedback">{{ feedback }}</p>
        </ng-template>
        <div class="house-buttons">
                <button class="house-btn gryffindor" (click)="makeGuess('Gryffindor')"><img
                                src="../../assets/gryffindor.png" alt=""></button>
                <button class="house-btn hufflepuff" (click)="makeGuess('Hufflepuff')"><img
                                src="../../assets/hufflepuff.png" alt=""></button>
                <button class="house-btn ravenclaw" (click)="makeGuess('Ravenclaw')"><img
                                src="../../assets/ravenclaw.png" alt=""></button>
                <button class="house-btn slytherin" (click)="makeGuess('Slytherin')"><img
                                src="../../assets/slytherin.png" alt=""></button>
        </div>
        <a class="attribution" href='https://www.vecteezy.com/free-photos/architecture'>Architecture Stock photos by
                Vecteezy</a>
</div>