<p>Game Works</p>
<div class="game-container" *ngIf="currentCharacter">


        <h2 class="round">Round {{ round }} of {{ maxRounds }}</h2>
        <h3 class="score">Score: {{ score }}</h3>

        <div class="profile">
                <p class="name">{{ currentCharacter.fullName}}</p>

                <img [src]="currentCharacter.image" alt="Character image" class="character-image" />

        </div>

        <p *ngIf="!feedback; else feedbackMessage">Which house does <span class="name">{{ currentCharacter.fullName
                        }}</span> belong to?</p>
        <ng-template #feedbackMessage>
                <p class="feedback">{{ feedback }}</p>
        </ng-template>
        <div class="house-buttons">
                <button class="house-btn gryffindor" (click)="makeGuess('Gryffindor')"><img
                                src="../../assets/gryffindor.png" alt=""></button>
                <button class="house-btn hufflepuff" (click)="makeGuess('Hufflepuff')"><img
                                src="../../assets/hufflepuff.png" alt=""></button>
                <button class="house-btn ravenclaw" (click)="makeGuess('Ravenclaw')"><img
                                src="../../assets/ravenclaw.png" alt=""></button>
                <button class="house-btn slytherin" (click)="makeGuess('Slytherin')"><img
                                src="../../assets/slytherin.png" alt=""></button>
        </div>
</div>