.game-container {
  width: 100vw;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  width: fit-content;
  box-shadow: 0px 6px 9px -5px purple;
  border-radius: 1rem;
  padding: .5rem;
  margin-bottom: 1rem;
}

.round,
.score {
  margin-bottom: .5rem;
}

.house-buttons {
  width: 100%;
  margin-top: 15px;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.house-buttons img {
  display: block;
  max-width: 7rem;
  height: 7rem;
}

/* .frame-container {
  position: relative;
  width: 100%;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  box-sizing: border-box;
  z-index: 10;
} */

.house-btn {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  cursor: pointer;

}

.feedback {
  font-weight: bold;
}

img {
  margin-top: .5rem;
  max-height: 15rem;
}

.name {
  font-weight: bold;
}