* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

:root {
    --background: #1c004b;
}