.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    width: 100vw;
}

.home-page>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
}



.home-page>div>div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    width: 40%;
}

/*
.home-page>div>div>button {
    width: 20%;
    height: 90%;
    border: none;
    font-size: 1.5rem;
}


button {
    height: 10%;
    width: 30%;
    font-size: 3rem;
    border: none;
    transition: .5s ease-in-out;
}

button:hover {
    background-color: darkslateblue;
    color: white;
}
    */

.house-buttons {
    width: 100%;
    margin-top: 15px;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}


.house-buttons img {
    display: block;
    max-width: 7rem;
    height: 7rem;
}

.house-btn {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    cursor: pointer;

}

img {
    margin: .7rem auto;
    max-width: 10rem;
}