.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
    width: 100vw;
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%),
        url('../../assets/vecteezy_magic-castle-on-an-island-background_24249362.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

h1 {
    font-family: 'Harry P', sans-serif;
    font-size: 5rem;
    letter-spacing: .15rem;
    opacity: 1;
}

.sound-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    margin-bottom: 2rem;
}

.house-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}

.sound-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.house-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

img {
    max-width: 7rem;
    max-height: 7rem;
    transition: .2s ease-in-out;
}

.ravenclaw img {
    filter: brightness(1.9) contrast(95%);
}

.house-btn {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    cursor: pointer;

}

img:hover {
    transform: scale(1.2);
}

.sound-btns {
    padding: .8rem 0;
    width: 5rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.6rem;
    transition: .2s ease-in-out;
}

.sound-btns.selected {
    background-color: gold;
}

.yes-btn:hover {
    background-color: green;
    color: white;
    box-shadow: 3px 3px 12px -5px rgb(194, 194, 194);
}

.no-btn:hover {
    background-color: red;
    color: white;
    box-shadow: 3px 3px 12px -5px rgb(194, 194, 194);
}

.attribution {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: white;
    font-size: .5rem;
}

.fade-in {
    animation: fadeIn 2s ease-in forwards;
    /* Apply the fade-in animation */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        /* Start fully transparent */
    }

    to {
        opacity: 1;
        /* End fully opaque */
    }
}