<form class="home-page fadeIn" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="sound-settings">
        <h1>Play Sounds?</h1>
        <div>
            <button class="sound-btns yes-btn" type="button" [class.selected]="isSoundSelected(true)"
                (click)="form.patchValue({ allowSounds: true }); enableSound()">
                Yes
            </button>
            <button class="sound-btns no-btn" type="button" [class.selected]="isSoundSelected(false)"
                (click)="form.patchValue({ allowSounds: false });  disableSound()">
                No
            </button>
        </div>
    </div>

    <div class="house-settings">
        <h1>Choose Your House To Begin!:</h1>
        <div>

            <button class="house-btn gryffindor" [class.selected]="isHouseSelected('Gryffindor')"
                (click)="switchTheme('#bf1f13'); form.patchValue({ house: 'Gryffindor' })"><img
                    src="../../assets/gryffindor.png" alt=""></button>
            <button class="house-btn hufflepuff" [class.selected]="isHouseSelected('Hufflepuff')"
                (click)="switchTheme('#f0c802'); form.patchValue({ house: 'Hufflepuff' }) "><img
                    src="../../assets/hufflepuff.png" alt=""></button>
            <button class="house-btn ravenclaw" [class.selected]="isHouseSelected('Ravenclaw')"
                (click)="switchTheme('#08178a'); form.patchValue({ house: 'Ravenclaw' })"><img
                    src="../../assets/ravenclaw.png" alt=""></button>
            <button class="house-btn slytherin" [class.selected]="isHouseSelected('Slytherin')"
                (click)="switchTheme('#087837'); form.patchValue({ house: 'Slytherin' })"><img
                    src="../../assets/slytherin.png" alt=""></button>
        </div>
    </div>

</form>
<a class="attribution" href="https://www.vecteezy.com/free-vector/hogwarts-school">Hogwarts School Vectors by
    Vecteezy</a>