.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%),
        url('../../assets/hallway.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

h1 {
    font-family: 'Harry P', sans-serif;
    font-size: 5rem;
    letter-spacing: .15rem;
}

.name-input {
    display: flex;
    gap: .5rem;
}

input {
    padding: .2rem
}

.buttons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem
}

.buttons a {
    background-color: rgb(72, 0, 172);
    padding: 1rem;
    color: white;
    text-decoration: none;
    border-radius: .5rem;
    cursor: pointer;
}

.buttons a:hover {
    background-color: rgb(93, 0, 255);
}

.error {
    color: red;
}

div .attribution {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: white;
    font-size: .5rem;
}